/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
h3 {
  margin: 0;
}
a {
  color: #2B2D42;
}
a:hover {
  text-decoration: none;
}
@media screen and (max-width: 600px){
    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }    
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: hidden;
  flex: 1;
}
.col-narrow {
  width: 25%;
  float: left;
  flex: 1;
}
.col-wide {
  width: 70%;
  float: left;
  padding-left: 20px;
  flex: 1;
}
.uppercase {
  text-transform: uppercase;
}


/* Header and Footer
-------------------------*/
header, footer {
  background: #2B2D42;
  color: #808080;
}
/* header */
header {
  padding-top: 50px;
}
header h1, header h2 {
  color: #FFFFFF;
  margin: 0;
}
.profile-img {
  border-radius: 50%;
}
/* footer */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
  color: #FF0000;
  text-decoration: none;
}

/*@media screen and (max-width: 950px){
  .flex-container{
    display: flex;
  }
}*/
/* Navigation
-------------------------*/
nav {
  text-align: center;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
}
nav a {
  display: inline;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.skills{
  background: #E6E6FA;
}

.wrapper {
  margin: auto;
  max-width: 75rem;
}

.projects{
  background: #F0FFFF;
}

/* Work Experience
-------------------------*/
.work {
  background: #EDF2F4;
}
h3 ~ p {
  margin: 0;
}
.job-description {
  margin-bottom: 25px;
}
.job-description p:first-of-type {
  margin-top: 0;
}


/* Education
-------------------------*/
.education {
  background: #BC8F8F;
}
p + h3 {
  margin-top: 30px;
}

#job-address{
  font-size: 75%;
}

#job-dates{
  font-size: 75%;
}

#download{
  font-size: 150%;
  color: white !important;
  text-decoration: none;
}

#downloadButton{

  background: #000000;


}