/*****************************TAG SELECTORS***************************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #707070;
  font-size: 5.5rem;
  font-family: 'Parisienne', cursive;
  margin: 50px auto 0 auto;
}

h2 {
  color: #835858;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

h3 {
  color: #0d7377;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted grey 6px;
  border-bottom: none;
  width: 4%;
  margin: 75px auto;
}

a{
  color: #835858;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #92817a;
}

/*****************************CLASS SELECTORS***************************/
.top-cloud {
  bottom: 300px;
  left: 300px;
  position: absolute;
}

.bottom-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.mountain {
  position: relative;
  top: 35px;
}

.backend-img {
  float: left;
  height: auto;
  margin-right: 30px;
  width: 25%;
}

.database-img {
  float: right;
  height: auto;
  margin-left: 30px;
  width: 25%;
}

.frontend-img {
  float: left;
  height: auto;
  margin-right: 30px;
  width: 25%;
}

.mcgill-img {
  float: left;
  height: auto;
  margin-right: 30px;
  width: 25%;
}

.cimf-img {
  float: right;
  height: auto;
  margin-left: 30px;
  width: 25%;
}

.sapient-img {
  float: left;
  height: auto;
  margin-right: 30px;
  width: 25%;
}

.sensequake-img {
  float: right;
  height: auto;
  margin-left: 30px;
  width: 25%;
}

.top-container {
  background-color: #a6e3e9;
  position: relative;
  padding-bottom: 1px;
  padding-top: 100px;
}

.middle-container {
  background-color: #cbf1f5;
  padding-bottom: 75px;
}

.contact-me {
  /* background-color: #71c9ce; */
  /* padding-top: 1px; */
}

.bottom-container {
  background-color: #71c9ce;
  padding: 50px 0 20px;
}

.profile {
  /* background-color: #cbf1f5; */
  padding-bottom: 1px;
  padding-top: 75px;
  margin: 0 auto;
  width: 50%;
}

.skills {
  /* background-color: #e3fdfd; */
  /* padding-bottom: 1px; */
}

.skill-row {
  line-height: 2;
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.education-row{
  line-height: 2;
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.work-row {
  line-height: 2;
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.btn {
  box-shadow: inset 0px 1px 3px 0px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 5px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 11px 23px;
  text-decoration: none;
}

.btn:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
  color: #FFFFFF;
}

.btn:active {
  position: relative;
  top: 1px;
}

.copyright {
  color: white;
  font-size: 0.75rem;
  padding: 20px 0;
}

/*****************************ID SELECTORS***************************/
#subheading {
  color: #707070;
  font-weight: normal;
}
